@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700');

:root {
	background: #f3f3f3 url("../images/background.jpg") repeat;
}

body {
	margin: 0 auto;
	min-width: 480px;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

@media(min-width: 480px) {
	body {
		width: 100%;
	}
}

@media(min-width: 800px) {
	body {
		width: 100%;
	}
}

@media(min-width: 1000px) {
	body {
		width: 1000px;
	}
}

header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100vw;
	background: #288575;
	background: linear-gradient(to bottom, rgba(61,191,169,1) 0%,rgba(40,133,117,1) 92%,rgba(150,150,150,1) 93%,rgb(60, 190, 168) 100%);
	z-index: -1;
}

header {
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	background: #288575;
	background: linear-gradient(to bottom, rgba(61,191,169,1) 0%,rgba(40,133,117,1) 92%,rgba(150,150,150,1) 93%,rgb(60, 190, 168) 100%);
}

header a {
	color: #FFF;
	text-decoration: none;
	transition: color .1s ease-in;
}

header a:hover {
	color: #e8e8e8
}

header .logo {
	float: left;
	display: inline-block;
	height: 40px;
	width:  200px;
}

header .logo img {
	margin: 8px 0;
	max-height: 24px;
	font-size: 13px;
	line-height: 20px;
}

header .auth {
	float: right;
	color: #fff;
	font-size: 14px;
	margin: 0;
	list-style: none;
	padding: 0;
}

header .auth li {
	display: inline-block;
	margin-left: 10px;
}

header .auth .logout a {
	display: inline-block;
	height: 40px;
}

header .auth .logout img {
	height: 20px;
	vertical-align: middle;
	margin-bottom: 4px;
}

footer {
	box-sizing: border-box;
	padding: 0 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	background: #288575;
	box-shadow: 1000px 0px #288575, -1000px 0px #288575;
}

footer a {
	color: #fff;
}

main {
    min-height: calc(100vh - 80px);
    background-color: rgba(128, 128, 128, 0.46);
    padding: 20px;
}

/* 
	Login window description
 */

.login-window .modal-container {
	width: 400px;
	min-height: 200px;
}

.login-window .modal-container .content {
	padding: 25px;
}

.login-window form label {
	display: block;
	margin-bottom: 20px;
}

.login-window form label:last-child {
	margin-bottom: 0;
}

.login-window input {
	width: 100%;
}

.login-window button {
	float: right;
}

.login-window label:after {
	content: "";
	clear:both;
	display: block;
}

/* 
	Controls
 */


input + i {
    position: absolute;
    color: #d6d6d6;
    top: 8px;
    right: 10px;
}

.icon-input {
	position: relative;
	display: inline-block;
}

input {
	transition: box-shadow linear .1s;
	height: 35px;
	border-radius: 7px;
	border: none;
	padding-left: 13px;
	padding-right: 30px;
	box-sizing: border-box;
	outline: none;
	font-size: 15px;
	color: #333333;
}

input + i {
	transition: color linear .1s;
}

input:focus {
	box-shadow: inset 0 0px 0px 2px rgb(175, 204, 198);
}

input:invalid:not(:placeholder-shown) {
	box-shadow: inset 0 0px 0px 2px rgb(228, 89, 89);
}

input:invalid:focus:not(:placeholder-shown) {
	box-shadow: inset 0 0px 0px 2px rgb(228, 89, 89);
}

input:focus ~ i {
	color: rgb(175, 204, 198);
}

input:invalid:not(:placeholder-shown) + i {
	color: rgb(228, 89, 89);
}

input:invalid:focus:not(:placeholder-shown) + i {
	color: rgb(228, 89, 89);
}

.btn {
	display: inline-block;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.95;
	padding: 0 20px;
    user-select: none;
}

.btn:hover {
	opacity: 1;
}

.btn:disabled {
	opacity: 0.5;
}

.toggle-btn {
	display: inline-block;
	background: none;
	border: none;
	outline: none;
	vertical-align: top;
}

.toggle-btn > label {
	cursor: pointer;
	display: inline-block;
	border-radius: 4px;
	color: #fff;
	opacity: 0.95;
	user-select: none;
}

.toggle-btn > label:hover {
	opacity: 1;
}

.toggle-btn > input[type="checkbox"] {
	display: none;
}

.toggle-pannel {
	display: none;
}

.toggle-btn > input[type="checkbox"]:checked ~ .toggle-pannel {
	display: block;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(47, 137, 122);
	border: 1px solid rgb(47, 137, 122);
	-webkit-transition: .1s;
	transition: .1s;
	color: rgb(47, 137, 122);
}

.slider:before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .1s;
	transition: .1s;
}

input:checked + .slider {
	background-color: #ffffff;
	color: rgb(0, 0, 45);
}

input:checked + .slider:before {
	background-color: rgb(47, 137, 122);
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.radio > input[type="radio"] {
	display: none;
}

.radio {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid rgb(47, 137, 122);
	vertical-align: top;
	cursor: pointer;
}

.radio > input + span {
	background: #ffffff;
	width: 23px;
	height: 23px;
	margin: 1px;
	display: inline-block;
	border-radius: 50%;
}

.radio > input:checked + span {
	background: #2f897a;
}

.radio.labeled-radio > input:checked + span:after {
	color: #2f897a;
}

.icon-select {
	position: relative;
}

select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	background-color: #2f897a;
	color: #fff;
	text-align: center;
	outline: none;
	padding-left: 8px;
	box-sizing: border-box;
}

.icon-select > select ~ i {
	position: absolute;
	color: #fff;
	top: -4px;
	right: 9px;
	display: inline-block;
}

.big {
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	font-size: 14px;
}

.regular {
	height: 30px;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	padding: 0 20px;
}

.primary {
	background: linear-gradient(to top, #398b73, #64ccbd);
}

.primary:active, .toggle-btn > input:checked + label {
	background: linear-gradient(to top, #64ccbd, #398b73);
}

.secondary {
	background: linear-gradient(to top, rgb(125, 125, 125), rgb(180, 180, 180));
}

.secondary:active {
	background: linear-gradient(to top, rgb(180, 180, 180), rgb(125, 125, 125));
}

/* 
	Catalog
*/

.catalog {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
    flex-wrap: wrap;
    align-content: stretch;
}

.product-wrapper {
	box-sizing: border-box;
	padding: 10px;
	flex-basis: 33.3333%;
}

@media(max-width: 999px) {
	.product-wrapper {
		flex-basis: 50%;
	}
}

@media(max-width: 479px) {
	.product-wrapper {
		flex-basis: 100%;
	}
}

.product-card {
	position: relative;
	display: inline-block;
	height: 100%;
	padding: 0;
	border: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	background: #ececec;
	background: repeating-linear-gradient(135deg, #ececec,  #ececec 5px, #e4e4e4 8px);
}

.product-card .product-description {
	padding: 0 20px 20px 20px;
}

.product-card .product-description h1 {
	font-size: 18px;
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(161, 228, 230);
}

.product-card .product-description p {
	margin: 10px 0;
}

.product-card .product-image {
	overflow: hidden;
}

.product-card .product-image img {
	height: 100%;
	width: 100%;
}

.product-card:after {
	content: " ";
	display: block;
	height: 40px;
}

.product-cost {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
}

.product-cost:first-letter {
	color: #58b59b;
}

.show-more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.product-rating {
	position: relative;
	top: -24px;
	margin-bottom: -20px;
}

/* 
	Filters
 */

.search::placeholder {
	font-style: italic;
	font-size: 13px;
}

.filters-wrapper {
	width: 100%;
	display: flex;
	padding: 0 10px;
	box-sizing: border-box;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.filters-wrapper::after {
	content: "";
	clear: both;
}

.filters-pannel {
	width: 620px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: -287px;
	padding: 10px;
	background: #fff;
	border-radius: 6px;
	z-index: 10;
}

.filters-pannel:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -10px;
	left: 337px;
}

.filters-pannel-container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-wrap: wrap;
	align-content: stretch;
	flex-basis: 200px;
}

.filter-element {
	font-size: 12px;
	min-width: 180px;
	/* outline: 1px solid grey; */
}

.filter-element:nth-child(1), .filter-element:nth-child(2), .filter-element:nth-child(3) {
    padding-bottom: 10px;
    border-bottom: 1px solid #2f897a;
    margin-bottom: 10px;
}

@media(max-width: 680px){
	.filters-wrapper {
		justify-content: space-between;
	}

	.filters-pannel {
		width: 420px;
		width: 100%;
		margin-left: 0;
		box-sizing: border-box;
	}
	.filters-pannel:before {
		left: 55px;
	}

	.filters {
		width: 100%;
		position: relative;
	}

	.filters > *:first-child {
		float: left;
	}

	.filters > *:last-child {
		float: right;
	}
	
	.filter-element {
		width: 100%;
	}

	.filter-element:nth-child(4) {
		padding-bottom: 10px;
    	border-bottom: 1px solid #2f897a;
    	margin-bottom: 10px;
	}
}

.availability-filter {
	flex-grow: 1;
}

.gender-filter {
	flex-grow: 1;
}

.category-filter {
	flex-grow: 1;
}


.rating-filter {
	flex-grow: 1;
}


.price-filter {
	flex-grow: 2;
}


.filter-element-label {
	margin-bottom: 5px;
}

.availability-switch:after {
	content: "Available only";
	position: relative;
	right: -55px;
	top: 5px;
	width: 80px;
	display: inline-block;
}

.radio-label:after {
	position: relative;
	right: -28px;
	top: 6px;
	width: 40px;
	display: inline-block;
}

.man-radio {
	margin-right: 27px;
}

.man-radio > span:after {
	content: "Man";
}

.woman-radio {
	margin-right: 44px;
}

.woman-radio > span:after {
	content: "Woman";
}

.unisex-radio {
	margin-right: 30px;
}

.unisex-radio > span:after {
	content: "Unisex";
}
