<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Rating component test</title>
	<link rel="stylesheet" href="style.css">
	<style>
		body {
			display: flex;
			width: 100vw;
			height: 100vh;
		}

		main {
			margin: auto;
		}

		.element-with-rating {
			width: 300px;
			height: 50px;
		}
	</style>
</head>
<body>
	<main>
		<div class="element-with-rating">
			<div class="rating-wrapper">
				<div class="rating">
					<span>☆</span><span>☆</span><span class="current">☆</span><span>☆</span><span>☆</span>
				</div>
			</div>
		</div>
	</main>
</body>
</html>